@import "tools";
@import "fs-tools";

html {
  body {
    height: 100vh;

    &, .form-control {
      background: var(--background);
    }

    .loading {
      width: 100%;
      height: 100%;
      background: var(--white-dark);
      z-index: 10;
      @include transition(opacity $transition-fast);

      .load {
        @include size(1.25rem);
        background: var(--main);
        @include borderRadius(50%);

        &::before {
          content: '';
          z-index: -1;
          @include size(100%);
          @include borderRadius(50%);
          background: var(--main);
          position: absolute;
          top: 0;
          left: 0;
          @include animation(load, 1s infinite) {
            0% {
              opacity: 1;
              @include transform(scale(1));
            }
            100% {
              @include transform(scale(2));
              opacity: 0;
            }
          }
        }
      }
    }

    .form-control {
      font-weight: 500;
      @include boxShadow(0 0 0 1px var(--lighter));
    }

    .alert-info {
      left: 50%;
      @include transform(translateX(-50%));
      background: var(--main-gold);
      z-index: 9;
      pointer-events: none;
      @include transition-medium;
      opacity: 0;

      &.top {
        top: 1rem;
      }

      &.show {
        opacity: 1;
      }

      p {
        font-weight: 700;
        font-size: .9rem;
        color: var(--dark-white);
      }
    }

    .modals {
      .modal {
        .card {
          background: var(--white-dark);

          .card-header {
            h3 {
              text-align: center;
              font-weight: 700;
              color: var(--dark-white);
            }
          }

          .card-body {
            .form-control {
              width: 100%;
              color: var(--dark-white);
            }

            select {
              cursor: pointer;
            }
          }

          .card-footer {
            .btn {
              background: var(--main);
              color: var(--white);
              width: 100%;

              &.disabled {
                background: var(--lighter);
                color: var(--dark-white);
              }
            }
          }
        }
      }
    }

    .sidebar {
      background: var(--main-dark);
      height: 100vh;
      width: 15rem;
      @include transition-medium;
      overflow: hidden;
      float: left;

      &.min {
        width: 4rem;

        & ~ main {
          width: calc(100% - 19rem);
        }

        nav {
          .item {
            .link {
              p {
                opacity: 0;
              }
            }
          }
        }
      }

      nav {
        padding: .75rem .5rem;

        .item {
          padding: .75rem;
          @include borderRadius(.25rem);
          @include transition-fast;

          &:not(&.active):hover {
            .link {
              color: var(--alpha-white-75);
            }
          }

          &.active {
            background: var(--main-gold);

            .link {
              color: var(--white);
            }
          }

          .link {
            color: var(--alpha-white-5);
            display: flex;
            align-items: center;
            column-gap: .5rem;
            @include transition-fast;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              @include size(1.5rem);
              min-width: 1.5rem;
            }

            p {
              white-space: nowrap;
              font-weight: 600;
              @include transition-fast;
            }
          }
        }
      }
    }

    main {
      float: left;
      width: calc(100% - 30rem);
      @include transition-medium;

      header {
        background: var(--white-dark);
        width: 100%;
        position: relative;

        .container {
          .btn {
            background: var(--background);
            color: var(--dark-white);
          }

          .bar {
            svg {
              @include transition-medium;
            }
          }

          .notification-list {
            background: var(--white-dark);
            top: 5rem;
            right: 1rem;
            max-height: 22rem;
            @include scroll-bar(var(--main), var(--white-dark), 0, .25rem);
            @include transition-fast;
            display: none;

            &.show {
              display: block;
            }

            .item {
              background: var(--background);
              padding: .5rem .75rem;

              &:not(&:last-child) {
                margin-bottom: .5rem;
              }

              p {
                font-weight: 600;
              }

              small {
                font-weight: 500;
                color: var(--main-gold);
              }
            }
          }
        }
      }

      .wrap {
        overflow: auto;
        margin: 0;
        padding: 1rem 1rem 2rem;
        height: calc(100vh - 5rem);
        @include scroll-bar(var(--main), var(--white-dark), 0, .25rem);

        section {
          .flip-y {
            &.animate {
              @include animation(flip-y, 1s) {
                0% {
                  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                  transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
                  -webkit-transition-timing-function: ease-in;
                  transition-timing-function: ease-in;
                  opacity: 0
                }
                40% {
                  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
                  transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
                  -webkit-transition-timing-function: ease-in;
                  transition-timing-function: ease-in
                }
                60% {
                  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
                  transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
                  opacity: 1
                }
                80% {
                  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
                  transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
                }
                100% {
                  -webkit-transform: perspective(400px);
                  transform: perspective(400px)
                }
              }
            }
          }

          table {
            width: 100%;

            &, th, td, tr {
              border-collapse: collapse;
            }

            th, td {
              white-space: nowrap;
              text-overflow: ellipsis;
              padding: .75rem;
              color: var(--dark-white);
            }

            th {
              font-weight: 700;
            }

            td {
              font-weight: 500;
            }

            thead {
              background: var(--main-dark);

              th {
                color: var(--white-ligher);
                text-transform: capitalize;

                &.min {
                  width: 3rem;
                }
              }
            }

            tbody {
              tr {
                &:nth-child(even) {
                  background: var(--table);
                }

                .btn.option {
                  padding: .5rem .75rem;
                  background: var(--main-dark);
                  color: var(--white-ligher);
                }
              }
            }
          }

          .container {
            .row {
              .card {
                background: var(--white-dark);

                .card-header {
                  h3 {
                    font-weight: 500;
                    color: var(--dark-white);
                  }
                }
              }
            }
          }

          &#dashboard {
            .container {
              .row {
                &.dashboard {
                  .col-4 {
                    $color-mao: (1: (#5E1FD0, #9949EA), 2: (#0c4bcc, #3573f5),
                            3: (#EF595A, #F68484), 4: (#efbe2f, #f8d46c));
                    @each $name, $color in $color-mao {
                      &:nth-child(#{ $name }) {
                        .card {
                          background: linear-gradient(75deg, $color);
                        }
                      }
                    }

                    .card {
                      padding: 1rem;
                      overflow: hidden;
                      min-height: 10rem;
                      display: flex;
                      flex-direction: column;
                      @include transition-fast;
                      cursor: pointer;

                      &:hover {
                        .icon {
                          @include transform(scale(1.15));
                        }
                      }

                      h1, h3 {
                        font-weight: 600;
                        color: var(--white-ligher);
                      }

                      h1 {
                        font-size: 2.75rem;
                      }

                      h3 {
                        margin-top: auto;
                      }

                      .icon {
                        position: absolute;
                        right: -1rem;
                        font-size: 5rem;
                        bottom: -1rem;
                        @include transition-fast;
                        color: var(--alpha-white-75);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .side-main {
      float: right;
      width: 15rem;
      height: 100%;
      background: var(--white-dark);
      padding: .75rem .5rem;

      .time-control {
        color: var(--light-text);
        background: var(--background);

        span {
          font-weight: 600;
        }
      }

      .add {
        background: var(--main);
        color: var(--white);
      }

      .settings {
        background: var(--background);
        color: var(--dark-white);
      }
    }
  }
}