:root {
  --main: #3E198E;
  --main-dark: var(--main);
  --main-gold: #EBB718;
  --border: #9E9E9E;
  --lighter: #e9e9e9;
  --background: #F4F3F9;
  --white: #fff;
  --white-dark: var(--white);
  --dark-white: #000;
  --white-ligher: var(--white);
  --table: #e2e1eb;
  --alpha-white-5: rgba(255, 255, 255, .5);
  --alpha-white-75: rgba(255, 255, 255, .75);
  --alpha-black-5: rgba(0, 0, 0, .5);
  --alpha-black-75: rgba(0, 0, 0, .75);
  --alpha-main-5: rgba(62, 25, 142, .5);
  --alpha-main-75: rgba(62, 25, 142, .75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-dark: #111;
    --main-gold: var(--main);
    --border: #9E9E9E;
    --light-text: #707070;
    --lighter: #474747;
    --background: #212121;
    --white: #fff;
    --table: #171717;
    --white-dark: #111;
    --dark-white: #c5c5c5;
    --alpha-white-5: rgba(255, 255, 255, .5);
    --alpha-white-75: rgba(255, 255, 255, .75);
    --white-ligher: var(--alpha-white-75);
  }
}