@font-face {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Segoe UI Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Segoe UI Bold Italic', sans-serif;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Segoe UI Italic', sans-serif;
  font-style: italic;
  font-weight: normal;
}