{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRM</title>
    <link rel="stylesheet" href="{% static 'css/fs.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="o-hidden">
<div class="loading fixed d-flex ai-center jc-center">
    <div class="load relative"></div>
</div>
<div class="alert-info px-4 py-3 fixed top round-1">
    <p></p>
</div>
<div class="teach"></div>
<div class="glass"></div>
<div class="modals">
    <div class="modal ai-center jc-center" id="option-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer d-flex gap-x-2">
                <button class="btn"><i class="fas fa-plus mr-2"></i> O'zgartirish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="view-modal">
        <div class="card round-2">
            <div class="card-body d-flex gap-y-2">
                <table>
                    <thead>
                    <tr>
                        <th>Tovar</th>
                        <th>Ishlatildi</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="services-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="unit-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="customers-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="products-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="companies-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="workers-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="order-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
    <div class="modal ai-center jc-center" id="order-item-modal">
        <div class="card round-2">
            <div class="card-header">
                <h3>Title</h3>
            </div>
            <div class="card-body d-flex fd-column gap-y-2">

            </div>
            <div class="card-footer">
                <button class="btn"><i class="fas fa-plus mr-2"></i> Qo'shish</button>
            </div>
        </div>
    </div>
</div>
<aside class="sidebar">
    <a href="" class="brand"></a>
    <nav>

    </nav>
</aside>
<main>
    <header class="sticky">
        <div class="container gap-x-2 d-flex ai-center py-4">
            <button class="btn bar"><i class="fas fa-arrow-left"></i></button>
            <button class="btn search-btn mr-auto"><i class="fas fa-search"></i></button>
            <button class="btn notification-btn"><i class="fas fa-bell"></i></button>
            <div class="notification-list p-4 shadow-md round-2 absolute">
            </div>
            <!--                        <div class="search fixed">-->
            <!--                            <label for="search"></label>-->
            <!--                            <input id="search" type="text" class="form-control" placeholder="Search">-->
            <!--                            <div class="shadow-md search-list">-->
            <!--                            </div>-->
            <!--                        </div>-->
        </div>
    </header>
    <div class="wrap py-4">
        <section id="dashboard">
            <div class="container">
                <div class="mb-4 row dashboard gap-x-2">
                    <div class="col-4 flip-y animated">
                        <div class="card round-2">
                            <h1>Title</h1>
                            <h3>Title</h3>
                            <div class="icon"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                    <div class="col-4 flip-y animated">
                        <div class="card round-2">
                            <h1>Title</h1>
                            <h3>Title</h3>
                            <div class="icon"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                    <div class="col-4 flip-y animated">
                        <div class="card round-2">
                            <h1>Title</h1>
                            <h3>Title</h3>
                            <div class="icon"><i class="far fa-user"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row gap-x-2">
                    <div class="col-6 bounce-in">
                        <div class="card shadow-md round-2">
                            <div class="card-header t-center"><h3>Line graph</h3></div>
                            <div class="card-body">
                                <canvas id="month-line"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 bounce-in">
                        <div class="card shadow-md round-2">
                            <div class="card-header t-center"><h3>Line graph</h3></div>
                            <div class="card-body">
                                <canvas id="day-line"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-none" id="customers">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="services">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="unit">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="workers">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="companies">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="products">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="order">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="d-none" id="used-product">
            <div class="container">
                <div class="row gap-x-2">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</main>
<aside class="side-main d-flex fd-column">
    <span class="time-control mb-auto p-3 d-flex jc-around round-1 t-center"></span>
    <button class="btn add" data-toggle="modal" data-target="#service-modal"><i class="fas mr-1 fa-plus"></i>
        Qo'shish
    </button>
    <!--    <button class="btn mt-2 settings"><i class="fas mr-1 fa-cog"></i>-->
    <!--        Sozlamalar-->
    <!--    </button>-->
</aside>
</body>
<script src="{% static 'js/fs-library.js' %}"></script>
<script src="{% static 'js/fs.js' %}"></script>
<script src="{% static 'js/options.js' %}"></script>
<script src="{% static 'js/build.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/analytics.js' %}"></script>
<script src="{% static 'js/all.js' %}"></script>
</html>